---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTittle = "Contact";
---

<form
  name="contact"
  method="POST"
  data-netlify="true"
  action="https://docs.astro.build/zh-tw/tutorials/add-view-transitions/"
  >
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button
      type="submit"
      formaction="https://hooks.airtable.com/workflows/v1/genericWebhook/appK7foBa71nKKhzT/wfl9sdEq40HlpHRgN/wtrKtcozkPMU861Qd"
    >Send</button>
  </p>
</form>

<script>

</script>