---
import BaseLayout from '../layouts/BaseLayout.astro';
import PlaceholderLayout from '../layouts/PlaceholderLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTittle = "Yu En Design | Website under construction";
---


<PlaceholderLayout pageTittle={pageTittle}>
	<h1 style="font-family: 'Merriweather';" class="text-5xl mt-24">Website<br><span class="pl-2">under</span><br><span class="pl-2">construction</span></h1>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari", "你好", "안녕하세요", "こんにちは", "Bonjour", "Helló", "Hei"]} />
</PlaceholderLayout>

