---
import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ThemeIcon from '../components/ThemeIcon.astro';

import '../styles/global.css';
import '@fontsource/merriweather/300.css';
import '@fontsource/karla/400.css';

const {pageTittle} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTittle}</title>
		<ViewTransitions />
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-X8ZCNE99LV"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-X8ZCNE99LV');
		</script>
		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-TZTJS76W');</script>
		<!-- End Google Tag Manager -->
		<script is:inline type="text/javascript">
			(function(c,l,a,r,i,t,y){
					c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
					t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
					y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
			})(window, document, "clarity", "script", "l2oic15ug6");
		</script>
		<!-- plausible tracking code -->
		<script defer data-domain="yuenw.design" src="https://plausible.io/js/script.js"></script>
	</head>
	<body class="bg-neutral-50 text-neutral-800 dark:bg-neutral-800 dark:text-neutral-50">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZTJS76W"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Header />
		<ThemeIcon />
		<main transition:animate="slide" class="max-w-[900px] m-auto">
			<slot />
		</main>
		<Footer />
	</body>
</html>
