---
const {title, url, image, description} = Astro.props;
---
<a class="flex flex-col md:flex-row items-center gap-2 md:gap-8 visited:text-slate-900 dark:visited:text-neutral-50 no-underline" href={url}>
  <img class="w-full md:w-2/3 rounded-md" src={image.url}/>
  <div class="w-full md:w-1/3">
    <h3 class="text-neutral-900 dark:text-neutral-50 leading-8 -mb-4">{title}</h3>
    <h4 class="text-neutral-400">/ {description}</h4>
  </div>
</a>