---
import BlogListPageLayout from './BlogListPageLayout.astro';

const { frontmatter } = Astro.props;
---
<BlogListPageLayout pageTittle={frontmatter.title}>
  <div class="h-[12rem]"></div>
    <h1 class="mt-5 px-5">{frontmatter.title}</h1>
    <h2 class="text-neutral-400 mb-6 text-lg px-5">－ {frontmatter.description}</h2>
    <div class="px-5 mt-10">
      <slot />
      <div class="mt-10">
        <a class="text-lg text-neutral-400" href="/work"><span class="mr-4">←</span>Back to work list</a>
      </div>
    </div>
</BlogListPageLayout>